
<div>
    <h1 class="text-light">About Us</h1>
</div>
<div class="row img-responsive" style="background-size:100% auto;">
    <div class="col">
        <div class='card card-profile text-center'>
            <img alt='' class='card-img-top' src='https://unsplash.it/340/160?image=354'>
            <div class='card-block'>
                <img alt='' class='card-img-profile profileImgSize' src='~/images/bozhinkata.jpg'>
                <h4 class='card-title'>
                    Alexander Bozhinov
                    <small>Web Developer</small>
                </h4>
                <div class='card-links'>
                    <a href="https://my.telerikacademy.com/Users/a.bozhinov"><img class='fa fa-dribbble imgSize' src='~/images/telerikAcademyLogo.png' /></a>
                    <a href='https://github.com/albozhinov'><img class='fa fa-twitter imgSize' src="~/images/github.png" /></a>
                    <a href="https://www.facebook.com/aleksandur.bojinov"><img class='fa fa-facebook imgSize' src="~/images/facebook.png" href='#' /></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class='card card-profile text-center'>
            <img alt='' class='card-img-top' src='https://unsplash.it/340/160?image=354'>
            <div class='card-block'>
                <img alt='' class='card-img-profile profileImgSize' src='~/images/katsarov.jpg'>
                <h4 class='card-title'>
                    Martin Katsarov
                    <small>Web Developer</small>
                </h4>
                <div class='card-links'>
                    <a href="https://my.telerikacademy.com/Users/fb_1718663938191063"><img class='fa fa-dribbble imgSize' src="~/images/telerikAcademyLogo.png" /></a>
                    <a href='https://github.com/kacarov'><img class='fa fa-twitter imgSize' src="~/images/github.png" /></a>
                    <a href="https://www.facebook.com/Kacarov14"><img class='fa fa-facebook imgSize' src="~/images/facebook.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>



