


<h1 class="font-italic"style="color:white" align="center">
   Project Contributors:
</h1>

<div class="row img-responsive" style="background-size:100% auto;">
    <div class="col">
        <div class='card card-profile text-center'>
            <img alt='' class='card-img-top' src='https://unsplash.it/340/160?image=354'>
            <div class='card-block'>
                <img alt='' class='card-img-profile profileImgSize' src='~/images/bozhinkata.jpg'>
                <h4 class='card-title'>
                    Alexander Bozhinov
                    <small>Web Developer</small>
                </h4>
                <div class='card-links'>
                    <a href="https://my.telerikacademy.com/Users/a.bozhinov"><img class='fa fa-dribbble imgSize' src='~/images/telerikAcademyLogo.png' /></a>
                    <a href='https://github.com/albozhinov'><img class='fa fa-twitter imgSize' src="~/images/github.png" /></a>
                    <a href="https://www.facebook.com/aleksandur.bojinov"><img class='fa fa-facebook imgSize' src="~/images/facebook.png" href='#' /></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class='card card-profile text-center'>
            <img alt='' class='card-img-top' src='https://unsplash.it/340/160?image=354'>
            <div class='card-block'>
                <img alt='' class='card-img-profile profileImgSize' src='~/images/katsarov.jpg'>
                <h4 class='card-title'>
                    Martin Katsarov
                    <small>Web Developer</small>
                </h4>
                <div class='card-links'>
                    <a href="https://my.telerikacademy.com/Users/fb_1718663938191063"><img class='fa fa-dribbble imgSize' src="~/images/telerikAcademyLogo.png" /></a>
                    <a href='https://github.com/kacarov'><img class='fa fa-twitter imgSize' src="~/images/github.png" /></a>
                    <a href="https://www.facebook.com/Kacarov14"><img class='fa fa-facebook imgSize' src="~/images/facebook.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<h2 class="font-italic text-light">Project Description:</h2>
<br />
<h4 style="color:white">
    This project is created for <b>educational purposes</b>. It's purpose is allowing users to register sensors to already existing sensor systems.<br />
    This will allow them to monitor the sensor reading real-time and get notified if a sensor sends data outside the predefined by the user criteria.
</h4>
<br />
<h4 style="color:white">
    Users can see reports with more detailed information about the Sensor such as:
</h4>
<ul style="color:white">
    <li>Location</li>
    <li>Min/Max acceptable values</li>
    <li>Update Interval</li>
    <li>Sensor Alarm</li>
</ul>

<h4 style="color:white">
    Admins have the following access:
</h4>
<ul style="color:white">
    <li>Manage user - Change user details and assign roles.</li>
    <li>Manage sensors - Register and modify other user's sensors</li>
    <li>Manage base sensors - See detailed information for the available sensor options.</li>
</ul>



