@*@model UserViewModel

<!-- Modal -->
<!-- Lock -->
<div class="modal fade" id="lock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Manage user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You are about to lock "@Model.UserName", are you sure?</p>
            </div>
            <div class="modal-footer">
                <form asp-area="Admin" asp-controller="Users" asp-action="LockUser" method="post">
                    <div>
                        <input class="text-hide" name="Id" value="@Model.Id" />
                        <button type="submit" class="btn btn-danger">Lock user</button>
                    </div>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>*@