@model AllUsersViewModel

@{
    ViewData["Title"] = "AllUsers";
}
@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)

<h2>All Users</h2>

<partial name="_UserGrid" for="@Model" />

<div class="modal" id="my_modal">
    <div class="modal-dialog">
        <partial name="_UserModal" model="null" />
    </div>
</div>

@section Scripts{
    <script>
        jQuery.noConflict();
        $(document).ready(function () {
            $("#lockButton").click(function () {
                $("#lock").modal('show');
            });

        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}