@model IEnumerable<UserSensorViewModel>

@{
    ViewData["Title"] = "_MapPartial";
}

<html>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    <div>
        <h3>All public sensors all over the world</h3>
    </div>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Sofia
            var sofia = { lat: 42.698334, lng: 23.319941 };
            // The map, centered at Sofia
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 3.7, center: sofia });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: sofia, map: map });

            // TODO: On this part of view must to foreach all public sensors!
            @{
                foreach (var user in Model)
                {
                    <text>
                            var currentPin = { lat: @user.Latitude, lng: @user.Longtitude };
                    </text>
                    
                    <text>
                            var plovdivMarker = new google.maps.Marker({ position: currentPin, map: map });
                    </text>
                }
            }            
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKjLtaycPzwgQOUjWv9ONKdMDCkLXafak&callback=initMap">
    </script>
</body>
</html>

