@* // TODO: In this view must to include ICollection<UserSensorViewModel> and list all public sensors.  *@
@{
    ViewData["Title"] = "_RegisterSensorMapPartial";
}
<html>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #mapp {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>

    <!--The div element for the map -->
    <div id="mapp"></div>
 
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKjLtaycPzwgQOUjWv9ONKdMDCkLXafak&callback=initMap">

    </script>
</body>
</html>
