
@{
    ViewData["Title"] = "_RegisterSensorMapPartial";
}
<html>
<body>

    <!--The div element for the map -->
    <div id="registerMap"></div>
 
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKjLtaycPzwgQOUjWv9ONKdMDCkLXafak&callback=initialMap">
    </script>
</body>
</html>
