@model UserAllSensorsModel
@{
    ViewData["Title"] = "MySensors";
}
<div class="row img-responsive" style="background-size:100% auto;">
    @foreach (var userSensor in Model.UserSensors)
    {
        if (userSensor.IsDeleted)
        {
            continue;
        }
        <div class="col-md-3 p-3">
            <partial name="_MySensorGrid" for="@userSensor" />
        </div>
    }
</div>

<script>
    function a() {
        location.reload();
    };


    setInterval(a, 30000);

</script>

