/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/*Navbar background color*/
.navbar {
    background-color: #EBEBEB;
}
/*Page title*/
#title {
    font-weight: bold;
    color: #FD8227;
    transition: all .2s ease-in-out;
}

    #title:hover {
        /*color: orangered;*/
        transform: scale(1.1);
    }

/*Register, login and logout buttons*/
#loginButton {
    color: black;
    border: 1px solid lightgray;
    border-radius: 5px 5px;
    background-color: lightgray;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

    #loginButton:hover {
        border-color: lightgray;
        background-color: #EAEAEA;
    }
/*Button - Admin Dashboard*/
#adminDashboardButtnon {
    color: white;
    border-radius: 5px 5px;
    background-color: #FD8227;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
}

    #adminDashboardButtnon:hover {
        color: #FD8227;
        border-color: #FD8227;
        background-color: white;
    }

#userSettingsButton {
    color: white;
    border-radius: 5px 5px;
    background-color: #FD8227;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
}

    #userSettingsButton:hover {
        color: #FD8227;
        border-color: #FD8227;
        background-color: white;
    }

#registerButton {
    color: white;
    border-color: white;
    border-radius: 5px 5px;
    background-color: #FD8227;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
}

    #registerButton:hover {
        color: #FD8227;
        background-color: white;
    }

a.disabled {
    pointer-events: none;
}

.table table-striped table-bordered table-hover {
    width: 100%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #FD8227;
    color: black;
}

.nav-link {
    color: yellow;
}

    .nav-link:hover {
        border-bottom: 2px solid #FD8227;
    }

#userDropDownButton {
    color: white;
    border-radius: 5px 5px;
    background-color: #FD8227;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
}

#lockButton {
    border: solid 1px red;
    border-radius: 5px;
    background-color: white;
}

    #lockButton:hover {
        background-color: lightgray;
    }

#unlockButton {
    border: solid 1px #249E84;
    border-radius: 5px;
    background-color: white;
}

    #unlockButton:hover {
        background-color: lightgray;
    }

#passwordButton {
    border: solid 1px grey;
    border-radius: 5px;
    background-color: white;
}

    #passwordButton:hover {
        background-color: lightgray;
    }

#roleButton {
    border: solid 1px grey;
    border-radius: 5px;
    background-color: white;
}

    #roleButton:hover {
        background-color: lightgray;
    }


/*Home page*/
#allRegisterSensors {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

/*body{
    background: url(/images/1280px-Blank_Map_Pacific_World.svg.png);
    padding-top: 0px;
    background-size: cover;
}*/

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

textarea {
    resize: none;
}

/* Customize the label (the container) */
#checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    #checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 1px solid grey;
    border-radius: 5px 5px;
    background-color: #1A7EFB;
}

/* On mouse-over, add a grey background color */
#checkbox:hover input ~ .checkmark {
    background-color: cornflowerblue;
}

/* When the checkbox is checked, add a blue background */
#checkbox input:checked ~ .checkmark {
    background-color: #1A7EFB;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
#checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
#checkbox .checkmark:after {
    left: 10px;
    top: 4px;
    width: 10px;
    height: 17px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#mapp {
    border: 1px solid #E8EBEE;
    border-radius: 15px
}

/*Led Lights*/
.led-box p {
    font-size: 12px;
    text-align: center;
    margin: 1em;
}

.led-red {
    margin: 0 auto;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
    -webkit-animation: blinkRed 0.5s infinite;
    -moz-animation: blinkRed 0.5s infinite;
    -ms-animation: blinkRed 0.5s infinite;
    -o-animation: blinkRed 0.5s infinite;
    animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}

@-moz-keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}

@-ms-keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}

@-o-keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}

@keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}


.led-green {
    margin: 0 auto;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}
