/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/*Navbar background color*/
.navbar {
    background-color: #EBEBEB;
}

/*Page title*/
#title {
    font-weight: bold;
    color: #FD8227;
    transition: all .2s ease-in-out;
}

    #title:hover {
        /*color: orangered;*/
        transform: scale(1.1);
    }

/*Register, login and logout buttons*/
#loginButton {
    color: black;
    border: 1px solid lightgray;
    border-radius: 5px 5px;
    background-color: lightgray;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

    #loginButton:hover {
        border-color: lightgray;
        background-color: #EAEAEA;
    }
/*Button - Admin Dashboard*/
#adminDashboardButtnon {
    color: white;
    border-radius: 5px 5px;
    background-color: #FD8227;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
}

    #adminDashboardButtnon:hover {
        color: #FD8227;
        border-color: #FD8227;
        background-color: white;
    }

a.disabled {
    pointer-events: none;
}
