@model UserSensorViewModel
@{
    ViewData["Title"] = "RegisterSensor";
}

<h2>RegisterSensor</h2>

<div id="map-canvas">

</div>

<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Register</div>
                    <div class="card-body">
                        <form asp-controller="Sensors" asp-action="RegisterSensor" method="post">
                            <div>
                                <input asp-for="Id" type="hidden" value="@Model.Id" />
                                <input asp-for="UserId" type="hidden" value="@Model.UserId" />
                                <input asp-for="Description" type="hidden" value="@Model.Description" />
                            </div>
                            @if (Model.Description.Contains("true"))
                            {
                                <div class="form-group row">
                                    <label asp-for=MinValue class="col-md-4 col-form-label text-md-right">Set normal sensor state</label>
                                    <div class="col-md-6">
                                        <select asp-for="MinValue" class="custom-select form-control" id="boolInputMinValue" onchange="changeMaxValue()">
                                            <option selected>Choose state</option>
                                            <option value="1">True</option>
                                            <option value="2">False</option>
                                        </select>
                                        <span asp-validation-for="MaxValue" class="text-danger"></span>
                                        <input asp-for="MaxValue" value="" type="hidden" id="boolInputMaxValue">
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group row">
                                    <label asp-for=MinValue class="col-md-4 col-form-label text-md-right">Sensor Minimal Value</label>
                                    <div class="col-md-6">
                                        <input asp-for="MinValue" value="" class="form-control">
                                        <span asp-validation-for="MinValue" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="MaxValue" class="col-md-4 col-form-label text-md-right">Sensor Maximal Value</label>
                                    <div class="col-md-6">
                                        <input asp-for="MaxValue" value="" class="form-control">
                                        <span asp-validation-for="MaxValue" class="text-danger"></span>
                                    </div>
                                </div>
                            }

                            <div class="form-group row">
                                <label asp-for="Latitude" class="col-md-4 col-form-label text-md-right">Latitude</label>
                                <div class="col-md-6">
                                    <input asp-for="Latitude" type="text" value="" class="form-control" id="latitude" readonly>
                                    <span asp-validation-for="Latitude" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Longtitude" class="col-md-4 col-form-label text-md-right">Longtitude</label>
                                <div class="col-md-6">
                                    <input asp-for="Longtitude" type="text" value="" class="form-control" id="longtitude" readonly>
                                    <span asp-validation-for="Longtitude" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="IsPublic" class="col-md-4 col-form-label text-md-right">Is Public</label>
                                <div class="col-md-6">
                                    <input asp-for="IsPublic" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Alarm" class="col-md-4 col-form-label text-md-right">Alarm</label>
                                <div class="col-md-6">
                                    <input asp-for="Alarm" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">

                                <div> <h2>Choose where to put sensor on the map</h2></div>
                                <partial name="_RegisterSensorMapPartial" />

                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}